// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// FontAweasome
@import "~font-awesome/scss/font-awesome";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.add-event-submit-wrapper {
  line-height: 92px;
}

.category-stats {
  max-height: 80vh;
  min-height: 30px;
}
